version: "3.9"

services:
  web:
    build: .
    ports:
      - "8081:80"
    env_file:
      - .env
    volumes:
      - storage_data:/app/storage
    restart: unless-stopped

volumes:
  storage_data:
