version: "3.9"

services:
  web-dev:
    build: .
    ports:
      - "8081:80"
    volumes:
      - .:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
